#page_about_me.page
	#a_personal.a_text_body
		%h3 
			Me, Personally
		%p
			Born and raised in the SF Bay Area, I still proudly call it my home.
			I was an avid baseball player growing up and played through college;
			these days, my athletic career is resigned to putting holes in golf courses.
			The son of a small business owner, I'm intensely interested in all things small business.
			That, coupled with my love for tech and software, and it's no surprise that 
			small tech/software companies like start-ups hold a special place in my heart.
	#a_technical.a_text_body
		%h3 
			Me, Technically
		%p
			A BS in Math from UCSD, I started my career doing statistical research. My first significant project
			was a 9 month stint writing SAS programs to analyze medicare data.
			I never stopped hacking on side projects and eventually started dedicating significant time to Flash development.
			I released and supported my own real estate listing application, helped rewrite the math behind a 3D driving game, 
			and eventually started building Flex microsites.
		%p
			The Flex world didn't quite do it for me and I soon started focusing on native JS web applications.  
			Already comfortable with PHP, I started building end to end LAMP apps.
			I loved the web but wanted to be 'just friends' with LAMP, so I learned Ruby and moved over to Rails.
			At the same time I started working on iOS applications.  
			For the last 18 months, my software work has been mostly localized to Rails and iOS.
	%a#a_technical_link.a_more_link Me, Technically
	%a#a_personal_link.a_more_link Me, Personally
	= image_tag "garret.jpeg", :id => "framed_garret"
		
		