#maincol
  #colleft
    %h1 Garret Riddle
    %p#p_about
      A software developer, golfer, runner,
      = succeed "human" do
        %br/
      enthusiast, with plans of world
      = succeed "domination," do
        %br/
      starting with San Francisco.
    #link_list
      %a{:href => ""} email
      %br/
      %a{:href => ""} another link
  #colright
    asd